<form action="/account" method="post">
  <div class="form-group">
    <label class="control-label">email</label>
    <input type="text" class="form-control" name="email" placeholder="email">
  </div>
  <div class="form-group">
    <label class="control-label">password</label>
    <input type="text" class="form-control" name="password" placeholder="password">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit"><%= buttonText %></button>
  </div>
</form>
