.text-color {
  color: white;
}

.nav-links li a {
  font-size: 18px;
}

.nav-links li a:hover {
  color: rgb(243, 12, 166) !important;
}

.flick-rating {
  margin-left: 5px;
  margin-right: 5px;
}

.rating-lame {
  color: rgb(77, 77, 227);
}

.rating-meh {
  color: rgb(50, 152, 50);
}

.rating-fire {
  color: red;
}
