<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>flicks</title>

  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="background:url(./images/twilight_forest.jpeg) no-repeat center center fixed;background-size:cover;">
  <nav class="navbar navbar-default navbar-fixed-top bg-dark" style="opacity:0.7;border-color:#212121;background-color:#212121;">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" style="color:#ced4e6;" href="/">waiigb</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-links">
          <li><a href="/flick">flicks</a></li>
          <!-- <li><a href="/beats">beats</a></li> -->
        </ul>
    </div>
  </nav>
  <div class="container" style="margin-top:20px">
    <div class="page-header">
      <h1 class="text-color">flicks</h1>
    </div>
    <div style="height:500px;overflow:auto;">
      <% flicks.forEach((flick, idx) => { %>
        <% if(idx % 3 == 0) { %>
        <div class="row">
        <% } %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <iframe width="350" height="200" src="https://www.youtube.com/embed/<%= flick.trailer %>" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="caption">
                <h3><%= flick.movie %></h3>
                <p><%= flick.synopsis %></p>
              </div>
            </div>
          </div>
        <% if(idx % 3 == 2) { %>
        </div>
        <% } %>      
      <% }); %>
    </div>
  </div>
</body>
</html>
